{% extends 'main.html' %}
{% block content %}
{% load static %}




 <section class="hero-area">
 	<div class="container">
 		<div class="row">
 			<div class="col-md-12">
 				<div class="block">
 					<h1 class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">NIGERIA No 1  <br>web design company</h1>
 					<p class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">DIAMOND SOFTWARE  is the most affordable,
						low cost web design company offering website and all other digital product with unbeatable pricing
 					</p>
 					<ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
 						<li class="list-inline-item">
 							<a data-scroll href="#services" class="btn btn-main">Explore Us</a>
 						</li>
 						<li class="list-inline-item">
 							<a data-scroll href="{% url 'about' %}" class="btn btn-transparent">Learn More</a>
 						</li>
 					</ul>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>



<section class="service-2 section">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <!-- section title -->
        <div class="title text-center">
          <h2>Revolutionizing Brands with Research-Driven Digital Solutions</h2>
          <p> Diamond Software is a full-service digital product studio based in Lagos, driving innovation for some of the world's most ambitious brands.</p>
          <div class="border"></div>
        </div>
        <!-- /section title -->
      </div>

      <div class="col-md-4 text-center">
        <img src="{% static 'images/about/member.jpg' %}" class="inline-block" alt="">
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="tf-ion-ios-alarm-outline"></i>
              <h4>24/7 website Support</h4>
              <p>our experts are avaliable 24/7 to quick resolve any issue.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="tf-ion-ios-briefcase-outline"></i>
              <h4>Branding</h4>
              <p>We empower you to build a robust identity by delivering excellent services.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="tf-ion-ios-email-outline"></i>
              <h4>Mail Support</h4>
              <p>We provide the best email services prioritizing privacy and security </p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="tf-ion-ios-locked-outline"></i>
              <h4>Secure System</h4>
              <p>We provide a secure and protected network, resilient against all forms of attacks
				</p>
            </div>
          </div><!-- END COL -->
        </div>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End section -->





<section class="services" id="services">
	<div class="container">
		<div class="row no-gutters">
			<!-- section title -->
			<div class="col-12">
				<div class="title text-center">
					<h2>Building Brands for What's Next</h2>
					<p>Strategize. Execute. Grow. We thrive on transforming your technological challenges into opportunities for digital growth. Discover more about the clients who have entrusted us with expanding their brand recognition, generating innovative ideas to enhance website usability, and driving increased sales</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-copy-outline"></i>
					</div>
					<h3>WordPress Theme</h3>
					<p> WordPress stands out as the most powerful platform for building your corporate website — easy to use and seamlessly integrated with a wide array of online tools</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-alarm-outline"></i>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive Design enables your website content to flow seamlessly across various screen resolutions and sizes, ensuring it looks great on all devices</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-book-outline"></i>
					</div>
					<h3>Media &amp; Advertisement</h3>
					<p>The goal of Media & Advertisement is to inform and influence the target audience through specific means and mediums</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4  text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-briefcase-outline"></i>
					</div>
					<h3>Graphic Design</h3>
					<p>Professionally designed graphics from our IT company are crafted to create a positive impression and ensure effective communication of the message in the minds of consumers.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-crop"></i>
					</div>
					<h3>Apps Development</h3>
					<p> Achieving this seamless access to products, information, processes, and services in real-time through a mobile app is within our capabilities. Trust us to make it happen.</p>
				</div>
			</div>
			<!-- End Single Service Item -->


			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-home-outline"></i>
					</div>
					<h3>Feedback</h3>
					<p>Feedback is a vital aspect of understanding how customers feel about your digital product. We excel at bridging the gap to enhance the customer experience</p>
				</div>
			</div>
			<!-- End Single Service Item -->

		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->

<section class="call-to-action section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Let's collaborate and create something amazing together</h2>
				<a href="{% url 'contact' %}" class="btn btn-main">Contact Us</a>
			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->

{% endblock %}

